.movie-image {
    max-width: 1360px;
    width: 100%;
    max-height: 640px;
    object-fit: cover;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: black;
    opacity: 0.5;
  }
  
  .movie-title {
    position: absolute;
    bottom: 20%;
    left: 40%;
    font-size: 32px;
    font-weight: 500;
    color: white;
    transform: translateX(-50%);
  }
  
  .tab-buttons {
    max-width: 380px;
    width: 100%;
    margin: auto;
  }
  
  .tab-button {
    padding: 1rem 0;
    width: 188px;
    border-radius: 12px;
    background-color: #111111;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: #1d1d1d;
    color: #c61f1f;
  }
  